*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #9FFFF5;
}

h1, h2, h3, h4{
    font-family: "Pixelify Sans", sans-serif;
}

header{
    font-family: "Pixelify Sans", sans-serif;
    padding: 25px;
    box-shadow: 0px 4px 4px 0px rgba(33, 33, 33, 0.25);
    display: flex;
    background-color: white;
    font-size: 30px;
}

.headerLeft{
    width: 30%;
}

.headerRight{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.headerRight a{
    color: black;
    text-decoration: none;
    margin-left: 2rem;
}

main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.item2{
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

main h1{
    margin: 0;
    font-size: 82px;
}

main h2{
    margin: 0;
    font-size: 62px;
}

main p{
    margin: 0;
    font-size: 32px;
    margin-bottom: 50px;
}

main a{
    margin-right: 40px;
}

.logo{ 
    width: 60px;
}

.photoMyself{
    width: 400px;
    height: 80%;
}